* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-side,
.right-side {
  font-size: 14px;
  color: white;
}
.right-side__country {
  position: relative;
}
.dropdown-menu {
  border-radius: 5px;
  position: absolute;
  top: 34px;
  right: 0;
  width: 160px;
  z-index: 1;
}

.dropdown-menu ul,
.nav-categories {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropdown-menu li {
  cursor: pointer;
}
.dropdown-menu li span {
  font-weight: 700;
}
.dropdown-menu li span:hover {
  color: rgb(255, 89, 89);
}
.select-lang {
  width: 35px !important;
  display: inline-block;
}
.lang-img {
  border-radius: 4px;
}
.search-input {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 30px 0 0 30px;
  height: 44px;
  padding: 10px 32px;
  max-width: 600px;
}
.search-input:focus {
  outline: none !important;
  border-color: #e94560;
}
.search-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(125, 135, 156);
}
.choosen-category {
  color: rgb(125, 135, 156);
  border-radius: 0 30px 30px 0;
  border: 1px solid rgb(218, 225, 231);
  border-left: none;
  padding: 10px 35px;
  height: 44px;
  position: relative;
}
.search-form {
  position: relative;
}
.nav-categories {
  position: absolute;
  top: 43px;
  left: 0;
  background-color: white;
  padding: 10px 51px 10px 10px;
  border-radius: 10px;
  z-index: 1;
}
.nav-categories__item:hover {
  cursor: pointer;
  color: rgb(233, 69, 96);
}
.user-icon,
.shopping-icon {
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(243, 245, 249);
  cursor: pointer;
}
.count {
  background-color: rgb(233, 69, 96);
  width: 20px;
  text-align: center;
  border-radius: 50%;
  top: -5px;
  right: -7px;
  color: white;
  font-size: 12px;
}
.modal {
  text-align: -webkit-center;
}
.email-input {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 5px;
  padding: 5px 8px;
  width: 100%;
  margin-bottom: 8px;
  height: 42px;
}
.password-area {
  position: relative;
  display: block;
}
.password-input {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 5px;
  padding: 5px 8px;
  width: 100%;
  margin-bottom: 8px;
  height: 42px;
}
.register-box {
  width: 100%;
}
.register-box__header {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.register-box__title {
  text-align: center;
  font-size: 14px;
}
.register-field {
  background-color: white;
  min-width: 550px;
  border-radius: 8px;
}
.register-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: rgb(43, 52, 69);
  text-align: left;
}
.show-password {
  position: absolute;
}

.show-password {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}
.login-btn {
  background-color: rgb(233, 69, 96);
}
.horizontal-line span {
  color: rgb(125, 135, 156);
  font-size: 16px;
  font-weight: 400;
  padding: 0 1rem;
}
.hr {
  position: relative;
  top: -3px;
  width: 100px;
  background-color: rgb(243, 245, 249);
  height: 1px;
  display: inline-block;
}
.facebook-btn {
  background-color: rgb(59, 89, 152);
}
.google-btn {
  background-color: rgb(66, 133, 244);
}
.google-icon {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.social-icon {
  font-size: 18px;
}
.btn {
  border-radius: 5px;
  width: 100%;
  color: white;
  font-size: 18px;
  height: 42px;
  -webkit-text-stroke: 0.1px;
}
.basket-field {
  max-width: 382px;
}
.basket-box__product-img {
  width: 120px;
  height: 120px;
}
.btn-shop {
  background-color: rgb(233, 69, 96);
  text-align: center;
  display: block;
}
.btn-cart {
  border: 1px solid rgb(233, 69, 96);
  color: rgb(233, 69, 96);
  text-align: center;
  display: block;
}
.nav-right__item {
  color: rgb(43, 52, 69);
  font-size: 14px;
  cursor: pointer;
}
.nav-left__choosen-category {
  background-color: rgb(246, 249, 252);
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}
.nav-left__choosen-category p {
  font-size: 14px;
  -webkit-text-stroke: 0.1px;
  color: rgb(125, 135, 156);
}
.bottom-nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.nav-left__dropdown {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  top: 61px;
  left: 0;
  border-radius: 5px;
}
.nav-left__dropdown-list {
  width: 300px;
}
.nav-left__dropdown-list li {
  padding: 10px 0;
}
.injected-svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.hero-body {
  width: 1095px;
  margin: 163px 0;
  margin-left: 363px;
}
.hero-slider__left-header {
  color: rgb(43, 52, 69);
  font-weight: 700;
}
.hero-slider__left-title {
  color: rgb(15, 52, 96);
  font-size: 14px;
}
.shop-now-btn {
  background-color: rgb(233, 69, 96);
  width: 200px;
  display: inline-block;
  margin-top: 20px;
}
main {
  background-color: #f6f9fc;
}
.hero-section {
  background-color: white;
}
.svg-main {
  width: 30px;
  height: 30px;
}
.product {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  width: 31%;
}
.forme .product {
  width: fit-content;
}
.product:hover .review {
  display: block;
  top: 0;
  right: 0;
}
.discount {
  width: 70px;
  font-size: 14px;
  background-color: rgb(233, 69, 96);
  padding: 8px;
  border-radius: 19px;
}
.icon {
  font-size: 20px;
}
.slider-buttons {
  width: 50px;
  height: 50px;
  color: rgb(218, 225, 231);
  background-color: rgb(125, 135, 156);
  z-index: 1;
  border-radius: 50%;
  display: inline-block;
}
.slider-buttons:hover {
  background-color: #0f3460;
  color: rgb(218, 225, 231);
  display: inline-block;
}
.product-discounted {
  color: rgb(233, 69, 96);
}
.over-text {
  top: 8px;
  display: inline-block;
  width: fit-content;
  font-size: 11px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}
.over-white {
  background-color: rgb(227, 233, 239);
  color: rgb(55, 63, 80);
  right: 5px;
}
.over-blue {
  left: 5px;
  color: white;
  background-color: #0f3460;
}
.ratings-left__bottom,
.ratings-right__bottom,
.category {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  background-color: white;
  border-radius: 8px;
}
.top-product__img img {
  width: 150px;
}
.top-product__img {
  position: relative;
}
.top-product__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.top-product__img:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.top-product > *:not(.stars) {
  text-align: center;
}
.top-product-right__img {
  width: 270px !important;
}
.arrivals-body img,
.big-discounts img {
  width: 300px;
}
.big-discounts .top-product {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
}
.cars-body__left-item span,
button {
  font-size: 19px;
  font-weight: 600;
}
.cars-body__left-item,
.filter-brand {
  background-color: #f6f9fc;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.cars-body__left {
  background-color: white;
  border-radius: 8px;
}
.cars-body__bottom img {
  width: 300px;
}
.cars-body__left-top {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.filter:not(:first-child) {
  border-left: 1px solid rgb(125, 135, 156);
  padding-left: 35px;
  color: rgb(125, 135, 156);
  cursor: pointer;
}
.filter:not(:last-child) {
  padding-right: 5px;
  color: rgb(125, 135, 156);
  cursor: pointer;
}
.category {
  width: 16%;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.product:hover,
category:hover {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 8px 45px;
  cursor: pointer;
}
.round {
  padding: 30px;
  border-radius: 50%;
  background-color: #f3f5f9;
  display: inline-block;
}
.round svg {
  stroke: #0f3460 !important;
  font-size: 25px;
}
.about {
  padding: 50px;
  background-color: white;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  flex: 1;
  gap: 4.5rem;
  border-radius: 8px;
}
.about span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
.footer {
  background-color: #0f3460;
  color: rgb(174, 180, 190);
}
.store {
  background-color: #0c2a4d;
  padding: 8px 15px;
  border-radius: 8px;
}
.store > * {
  color: white;
  font-weight: 500;
}
.col-4 h2 {
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.col-4 ul li a:hover {
  color: white;
}
.col-4 ul li a {
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}
.col-4 .social i {
  padding: 10px;
  border-radius: 50%;
  background-color: #0c2a4d;
  object-fit: cover;
  color: white;
}
.mobile-side-dropdown {
  display: none;
  z-index: 1;
}

/* Mobile HTML */
.result-body {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  padding: 20px;
}
.result-body .result-left p {
  font-size: 18px;
  font-weight: 600;
}
.result-body .result-left:last-child(p) {
  font-size: 18px;
  font-weight: 600;
}
.choosen-sort {
  border: 1px solid rgb(218, 225, 231);
  display: inline-block;
  padding: 12px;
  border-radius: 8px;
}
.choosen-sort span {
  margin-right: 35px;
}
.icon-sort {
  display: inline-block;
  padding: 3px 15px;
  border-left: 1px solid rgb(218, 225, 231);
}
.sort-dropdown__list {
  padding: 10px;
}
.sort-dropdown__list li {
  font-size: 17px;
  padding: 15px;
}
.sort-dropdown__list li:hover {
  background-color: rgb(246, 249, 252);
}
.sort-dropdown {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  background: white;
  position: absolute;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: lightgray;
}
.glasses-categories {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}
.glasses-categories__dropdown ul {
  margin-left: 20px;
  transition: 0.3s;
}
.glasses-categories li {
  color: rgb(125, 135, 156);
  font-size: 16.5px;
  padding: 8px 0;
  text-decoration: none !important;
  cursor: pointer;
}
.range[type="number"] {
  border: 1px solid rgb(218, 225, 231);
  padding: 10px;
  border-radius: 5px;
  color: rgb(43, 52, 69);
}
.ratings ul,
.stock ul,
.brands ul {
  padding: 5px 15px;
}
.headers {
  font-size: 18px;
  padding: 8px 0;
  font-weight: 600;
}
.category-horizontal-line {
  width: 250px;
}
.color {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}
.showing-items__text {
  font-size: 18px;
  font-weight: 600;
}
/* PRODUCT CSS */
.related-img img {
  width: 600px;
  height: 600px;
}
.related-img-view {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  border: 3px solid #e2e8ec;
}
.selected {
  border: 3px solid #e94560;
}
.related-img-view img {
  border-radius: 8px;
  padding: 5px;
}
.related-right__brand,
.related-right__seller,
.related-right__rating {
  color: rgb(125, 135, 156);
  font-size: 18px;
  font-weight: 500;
}
.related-right__name,
.related-right__review,
.related-right__available,
.related-right__seller-name,
.related-right__brand span {
  color: rgb(43, 52, 69);
  font-size: 18px;
}
.related-right__price {
  color: rgb(233, 69, 96);
  font-size: 30px;
  font-weight: 700;
}
.related-right__btn {
  background-color: rgb(233, 69, 96);
  width: 150px;
  display: inline-block;
}
.related-right__counter i {
  font-size: 50px;
  color: rgb(233, 69, 96);
}
.related-right__count {
  font-size: 24px;
  position: relative;
  bottom: 9px;
  font-weight: 500;
}
.textarea-review {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 10px;
  min-height: 40px;
  color: rgb(43, 52, 69);
  padding: 10px;
  overflow: auto;
}
.textarea-review:focus {
  outline: none !important;
  border-color: rgb(233, 69, 96);
}
.description-info__btn {
  padding: 2px 5px;
  font-size: 18px;
  font-weight: 500;
}
.desc-btn {
  border-bottom: 4px solid #e94560;
}
.review-sumbit {
  display: inline-block;
  width: 150px;
}
.not-active-review {
  background-color: rgb(218, 225, 231);
  color: rgb(125, 135, 156);
}
.active-review {
  background-color: rgb(233, 69, 96);
}
.bought-product {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
}
.total-bought {
  border-radius: 8px;
  border: 1px solid rgb(218, 225, 231);
  flex-basis: 500px;
  height: 215px;
}
.btn-bought {
  display: inline-block;
  width: 110px;
}
.bought-product__discounted-price {
  color: #e94560;
  font-size: 20px;
  font-weight: 600;
}
.btn-bg-white {
  border: 1px solid #e94560;
  color: #e94560;
}
.btn-bg-white:hover {
  background-color: #e94560;
  color: white;
}
.bought-product__img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  border-radius: 8px;
}
.bought-product__img {
  position: relative;
}
.bought-product__img:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.available-products__item {
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px 0px;
}
/* WISHLIST CSS */
.add-all-btn {
  background-color: rgb(255, 225, 230);
  color: #e94560;
  display: inline-block;
  width: 180px;
  height: 40px;
  padding: 10px;
}
.dashboard {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px 0px;
  padding: 12px;
}
.dashboard-body {
  padding: 10px 20px;
}
.dashboard-body__top-item:hover .vertical-line {
  display: inline-block;
}
.dashboard-body__top-item:hover .red-counts {
  color: rgb(233, 69, 96);
}
.dashboard-body__top-item {
  padding: 10px 0;
}
.pagination li {
  cursor: pointer;
  margin-right: 40px;
  padding: 10px 15px;
  border-radius: 50%;
}
.pagination li:first-child,
.pagination li:last-child {
  border-radius: 50%;
  border: 1px solid #e94560;
}
.selected-page {
  border: 1px solid #e94560;
}
/* CART CSS */
.nav-body__item-text {
  background-color: #ffe1e6;
  color: #e94560;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 15px;
}
.selected-nav {
  background-color: #e94560;
  color: white;
}
.order-body {
  padding: 15px;
}
.order-body__img-size {
  width: 100%;
  height: 100%;
}
.order-body__img {
  width: 150px;
  height: 150px;
}
.order {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px 0px;
  margin-bottom: 40px;
}
.minus,
.plus {
  font-size: 30px;
  color: #e94560;
}
.order-body__counter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.checkout {
  background-color: white;
  padding: 20px;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px 0px;
}
.checkout-note {
  color: #e94560;
  background-color: #ffe1e6;
  padding: 5px 10px;
  border-radius: 5px;
}

.checkout-textarea {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 10px;
  min-height: 40px;
  color: rgb(43, 52, 69);
  padding: 10px;
  overflow: auto;
}
.checkout-textarea:focus,
.checout-voucher__input:focus,
select:focus,
.zip-input:focus,
.form-left input:focus,
.form-right input:focus {
  outline: none !important;
  border-color: rgb(233, 69, 96);
}
.checout-voucher__input,
.zip-input {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}
.apply-voucher,
.calculate-shipping {
  margin-top: 25px;
  border: 1px solid #e94560;
  color: #e94560;
}
select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgb(218, 225, 231);
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}
.checkout-shipping-btn {
  background-color: #e94560;
  display: inline-block;
  margin-top: 10px;
}
/* DETAILS CSS */
.form-left label,
.form-right label,
.form-right select {
  color: rgb(43, 52, 69);
}
.shipping-body {
  background-color: white;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px 0px;
  padding: 30px;
  border-radius: 10px;
}
.shipping-add__name {
  font-weight: 500;
  margin-bottom: 10px;
}
.form-left,
.form-right {
  width: 48%;
}
