* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-side,
.right-side {
  font-size: 14px;
  color: white;
}
.right-side__country {
  position: relative;
}
.dropdown-menu {
  border-radius: 5px;
  position: absolute;
  top: 34px;
  right: 0;
  width: 160px;
  z-index: 1;
}
.dropdown-menu ul,
.nav-categories {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropdown-menu li {
  cursor: pointer;
}
.dropdown-menu li span {
  font-weight: 700;
}
.dropdown-menu li span:hover {
  color: rgb(255, 89, 89);
}
.select-lang {
  width: 35px !important;
  display: inline-block;
}
.lang-img {
  border-radius: 4px;
}
.search-input:focus {
  color: rgb(125, 135, 156);
}
.search-input {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 30px 0 0 30px;
  height: 44px;
  padding: 10px 25px;
  max-width: 600px;
}
.search-btn {
  position: absolute;
  top: 12px;
  left: 10px;
  color: rgb(125, 135, 156);
}
.choosen-category {
  color: rgb(125, 135, 156);
  border-radius: 0 30px 30px 0;
  border: 1px solid rgb(218, 225, 231);
  border-left: none;
  padding: 10px 35px;
  height: 44px;
  position: relative;
}
.search-form {
  position: relative;
}
.nav-categories {
  position: absolute;
  top: 43px;
  left: 0;
  background-color: white;
  padding: 10px 51px 10px 10px;
  border-radius: 10px;
}
.nav-categories__item:hover {
  cursor: pointer;
  color: rgb(233, 69, 96);
}
.user-icon,
.shopping-icon {
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(243, 245, 249);
  cursor: pointer;
}
.count {
  background-color: rgb(233, 69, 96);
  width: 20px;
  text-align: center;
  border-radius: 50%;
  top: -5px;
  right: -7px;
  color: white;
  font-size: 12px;
}
.modal {
  text-align: -webkit-center;
}
.email-input {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 5px;
  padding: 5px 8px;
  width: 100%;
  margin-bottom: 8px;
  height: 42px;
}
.password-area {
  position: relative;
  display: block;
}
.password-input {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 5px;
  padding: 5px 8px;
  width: 100%;
  margin-bottom: 8px;
  height: 42px;
}
.register-box {
  width: 100%;
}
.register-box__header {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.register-box__title {
  text-align: center;
  font-size: 14px;
}
.register-field {
  background-color: white;
  min-width: 550px;
  border-radius: 8px;
}
.register-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: rgb(43, 52, 69);
  text-align: left;
}
.show-password {
  position: absolute;
}

.show-password {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}
.login-btn {
  background-color: rgb(233, 69, 96);
}
.horizontal-line span {
  color: rgb(125, 135, 156);
  font-size: 16px;
  font-weight: 400;
  padding: 0 1rem;
}
.hr {
  position: relative;
  top: -3px;
  width: 100px;
  background-color: rgb(243, 245, 249);
  height: 1px;
  display: inline-block;
}
.facebook-btn {
  background-color: rgb(59, 89, 152);
}
.google-btn {
  background-color: rgb(66, 133, 244);
}
.google-icon {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.social-icon {
  font-size: 18px;
}
.btn {
  border-radius: 5px;
  width: 100%;
  color: white;
  font-size: 18px;
  height: 42px;
  -webkit-text-stroke: 0.1px;
}
.basket-field {
  max-width: 382px;
}
.basket-box__product-img {
  width: 120px;
  height: 120px;
}
.btn-shop {
  background-color: rgb(233, 69, 96);
  text-align: center;
  display: block;
}
.btn-cart {
  border: 1px solid rgb(233, 69, 96);
  color: rgb(233, 69, 96);
  text-align: center;
  display: block;
}
.nav-right__item {
  color: rgb(43, 52, 69);
  font-size: 14px;
}
.nav-left__choosen-category {
  background-color: rgb(246, 249, 252);
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}
.nav-left__choosen-category p {
  font-size: 14px;
  -webkit-text-stroke: 0.1px;
  color: rgb(125, 135, 156);
}
.bottom-nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.nav-left__dropdown {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  top: 61px;
  left: 0;
  border-radius: 5px;
}
.nav-left__dropdown-list {
  width: 300px;
}
.nav-left__dropdown-list li {
  padding: 10px 0;
}
.injected-svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.hero-body {
  width: 1095px;
  margin: 163px 0;
  margin-left: 363px;
}
.hero-slider__left-header {
  color: rgb(43, 52, 69);
  font-weight: 700;
}
.hero-slider__left-title {
  color: rgb(15, 52, 96);
  font-size: 14px;
}
.shop-now-btn {
  background-color: rgb(233, 69, 96);
  width: 200px;
  display: inline-block;
  margin-top: 20px;
}
main {
  background-color: #f6f9fc;
}
.hero-section {
  background-color: white;
}
.svg-main {
  width: 30px;
  height: 30px;
}
.product {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
}
.product:hover .review {
  display: block;
  top: 0;
  right: 0;
}
.discount {
  width: 70px;
  font-size: 14px;
  background-color: rgb(233, 69, 96);
  padding: 8px;
  border-radius: 19px;
}
.icon {
  font-size: 20px;
}
.slider-buttons {
  width: 50px;
  height: 50px;
  color: rgb(218, 225, 231);
  background-color: rgb(125, 135, 156);
  z-index: 1;
  border-radius: 50%;
  display: inline-block;
}
.slider-buttons:hover {
  background-color: #0f3460;
  color: rgb(218, 225, 231);
  display: inline-block;
}
.product-discounted {
  color: rgb(233, 69, 96);
}
.over-text {
  top: 8px;
  display: inline-block;
  width: fit-content;
  font-size: 11px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}
.over-white {
  background-color: rgb(227, 233, 239);
  color: rgb(55, 63, 80);
  right: 5px;
}
.over-blue {
  left: 5px;
  color: white;
  background-color: #0f3460;
}
.ratings-left__bottom,
.ratings-right__bottom,
.category {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  background-color: white;
  border-radius: 8px;
}
.top-product__img img {
  width: 150px;
}
.top-product__img {
  position: relative;
}
.top-product__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.top-product__img:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.top-product > *:not(.stars) {
  text-align: center;
}
.top-product-right__img {
  width: 270px !important;
}
.arrivals-body img,
.big-discounts img {
  width: 300px;
}
.big-discounts .top-product {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
}
.cars-body__left-item span,
button {
  font-size: 19px;
  font-weight: 600;
}
.cars-body__left-item,
.filter-brand {
  background-color: #f6f9fc;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.cars-body__left {
  background-color: white;
  border-radius: 8px;
}
.cars-body__bottom img {
  width: 300px;
}
.cars-body__left-top {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.filter:not(:first-child) {
  border-left: 1px solid rgb(125, 135, 156);
  padding-left: 35px;
  color: rgb(125, 135, 156);
  cursor: pointer;
}
.filter:not(:last-child) {
  padding-right: 5px;
  color: rgb(125, 135, 156);
  cursor: pointer;
}
.category {
  width: 16%;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.product:hover,
category:hover {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 8px 45px;
  cursor: pointer;
}
.round {
  padding: 30px;
  border-radius: 50%;
  background-color: #f3f5f9;
  display: inline-block;
}
.round svg {
  stroke: #0f3460 !important;
  font-size: 25px;
}
.about {
  padding: 50px;
  background-color: white;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  flex: 1;
  gap: 4.5rem;
  border-radius: 8px;
}
.about span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
